html{
    background-image: url(./img/b1.jpg);
}
body {
    text-align: center;
    padding: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: white;

  }
  header h1{
    font-size: 49px;
    color: #abcd4d;
    border: solid #abcd4d 4px;
    margin-bottom: 30px;
    border-radius: 20%;
  }
  .to-do{
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 4px;
    background-color: #047;
    color: white;
    border: none;
    box-shadow: rgb(171 205 77 / 7%) 0px 1px 1px, rgb(171 205 77 / 7%) 0px 2px 2px, rgb(171 205 77 / 7%) 0px 4px 4px, rgb(171 205 77 / 7%) 0px 8px 8px, rgb(171 205 77 / 7%) 0px 16px 16px;
  }
  .btns{
    margin: 30px 10px 30px 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 14px;
    background-color: #abcd4d;
    color: #047;
    box-shadow: rgb(0 68 119 / 48%) 6px 2px 16px 0px, rgb(0 68 119 / 80%) -6px -2px 16px 0px;
    cursor: pointer;
    border: none;
  }
  
  .a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
    transform: skew(0deg, -13deg);
    height: 219px;
    margin: -20px 0px 0px -5px;
  }

    .img-container:hover{
    transform: translateY(-25px);
  }

  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #abcd4d;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,68,119,1);
    padding: 20px;
    border-radius: 20px;
    background: #047;
    padding: 120px 20px 20px 20px;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
  }
  .main-container{
    margin: auto;
    padding: 0px
  }
  .list-items{
      list-style: none;
      margin-bottom: 5px;
      line-height: 1.5;
  }
  .name{
    display: flex;
    font-weight: bold;
    font-size: 35px;
    height: 115px;
    justify-content: center;
    align-items: center;
    line-height: 1.1;
  }
  

  @media only screen and (min-width: 480px){
    
    .media-container{
        display: flex;
        flex-wrap: wrap;  
    }
   .a-box{
       margin: 20px;
   }
   header h1{
        font-size: 70px;
   }
}

@media only screen and (min-width: 590px){
    
      header h1{
        font-size: 70px;
   }
}